body
{
margin:5px;
background-color: #ffffe6;
}
h1{
 
font-size: 25px;
color:#e2a805;
text-align: center;
margin:5px;
margin-bottom: 30px;
padding-top: 15px;
}
nav a
{
background-color:#f2f2f2;
font-size: 18px;
display:inline-block;
color:#ff4d4d;
padding:15px;
text-decoration: none;
text-align: center;
margin:10px 45px;
margin-bottom: 60px;
width:15%;
border-radius:8px;
opacity: 0.7;
}
#home
{
background-color:#adadeb;
opacity: 1.0;
font-size: 18px;
display:inline-block;
color:#ff4d4d;
padding:15px;
text-decoration: none;
text-align: center;
margin:10px 45px;
width:15%;
border-radius:8px;	
}
#mn
{
	background-image: url("6.jpg");
}

#left
{
	height:480px;
	width:250px;
	background-color:#ffff99;
	float: left;
	display:inline-block;
	margin:5px;
}
#right
{
	width: 65%;
	color:black;
	font-size:18px;
	text-align:left;
	margin-left: 20px;
	display:inline-block;
}
h2
{
color:#4da6ff;
}
img
{
	background-repeat: no-repeat;
	margin: 15px;
	display: block;
	background-position: center;

}
table
{
margin:10px 150px;
border: solid pink 2px;
border-bottom:solid pink 5px;
}
th
{
	font-size: 20px;
	font-weight: bold;
	color:white;
	background-color: #1aff66;
	text-align: center;
	padding: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	line-height: 15px;
	opacity: 0.7;

}
td{
	font-size: 17px;
	text-align: center;
	padding: 2px 10px;
	opacity:;
	background-color: #ddffcc;
	opacity: 0.8;
}
.col1
{
	text-align: left;
	padding-right: 10px;
}
th:hover
{
	opacity: 1.0;
}
td:hover
{
	opacity: 1.0;
}
nav a:hover
{
	opacity: 1.0;
}
/*nav a:active
{
	background-color:#adadeb;
}*/